[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2022/3-grading-tests.git
[submodule "3-Anna-er"]
	path = 3-Anna-er
	url = git@github.com:spbu-coding-2022/3-Anna-er.git
[submodule "3-Artem-Rzhankoff"]
	path = 3-Artem-Rzhankoff
	url = git@github.com:spbu-coding-2022/3-Artem-Rzhankoff.git
[submodule "3-LeonidElkin"]
	path = 3-LeonidElkin
	url = git@github.com:spbu-coding-2022/3-LeonidElkin.git
[submodule "3-Lesh79"]
	path = 3-Lesh79
	url = git@github.com:spbu-coding-2022/3-Lesh79.git
[submodule "3-MahaDeborah"]
	path = 3-MahaDeborah
	url = git@github.com:spbu-coding-2022/3-MahaDeborah.git
[submodule "3-Muzhinchin"]
	path = 3-Muzhinchin
	url = git@github.com:spbu-coding-2022/3-Muzhinchin.git
[submodule "3-Parzival-05"]
	path = 3-Parzival-05
	url = git@github.com:spbu-coding-2022/3-Parzival-05.git
[submodule "3-RozhkovAleksandr"]
	path = 3-RozhkovAleksandr
	url = git@github.com:spbu-coding-2022/3-RozhkovAleksandr.git
[submodule "3-SurfaceYellowDuck"]
	path = 3-SurfaceYellowDuck
	url = git@github.com:spbu-coding-2022/3-SurfaceYellowDuck.git
[submodule "3-Urtix"]
	path = 3-Urtix
	url = git@github.com:spbu-coding-2022/3-Urtix.git
[submodule "3-YazoonDinalt"]
	path = 3-YazoonDinalt
	url = git@github.com:spbu-coding-2022/3-YazoonDinalt.git
[submodule "3-aartdem"]
	path = 3-aartdem
	url = git@github.com:spbu-coding-2022/3-aartdem.git
[submodule "3-ancavar"]
	path = 3-ancavar
	url = git@github.com:spbu-coding-2022/3-ancavar.git
[submodule "3-gladiuswq"]
	path = 3-gladiuswq
	url = git@github.com:spbu-coding-2022/3-gladiuswq.git
[submodule "3-ksenmel"]
	path = 3-ksenmel
	url = git@github.com:spbu-coding-2022/3-ksenmel.git
[submodule "3-mloleg"]
	path = 3-mloleg
	url = git@github.com:spbu-coding-2022/3-mloleg.git
[submodule "3-nemakin"]
	path = 3-nemakin
	url = git@github.com:spbu-coding-2022/3-nemakin.git
[submodule "3-raf-nr"]
	path = 3-raf-nr
	url = git@github.com:spbu-coding-2022/3-raf-nr.git
[submodule "3-tepa46"]
	path = 3-tepa46
	url = git@github.com:spbu-coding-2022/3-tepa46.git
[submodule "3-therain7"]
	path = 3-therain7
	url = git@github.com:spbu-coding-2022/3-therain7.git
[submodule "3-twotwozeronine"]
	path = 3-twotwozeronine
	url = git@github.com:spbu-coding-2022/3-twotwozeronine.git
[submodule "3-vacmannnn"]
	path = 3-vacmannnn
	url = git@github.com:spbu-coding-2022/3-vacmannnn.git
[submodule "3-wokuparalyzed"]
	path = 3-wokuparalyzed
	url = git@github.com:spbu-coding-2022/3-wokuparalyzed.git
[submodule "3-ArtyomProkopets"]
	path = 3-ArtyomProkopets
	url = git@github.com:spbu-coding-2022/3-ArtyomProkopets.git
