[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2022/3-grading-tests.git
[submodule "3-Anna-er"]
	path = 3-Anna-er
	url = git@github.com:spbu-coding-2022/3-Anna-er.git
[submodule "3-Artem-Rzhankoff"]
	path = 3-Artem-Rzhankoff
	url = git@github.com:spbu-coding-2022/3-Artem-Rzhankoff.git
[submodule "3-LeonidElkin"]
	path = 3-LeonidElkin
	url = git@github.com:spbu-coding-2022/3-LeonidElkin.git
[submodule "3-Lesh79"]
	path = 3-Lesh79
	url = git@github.com:spbu-coding-2022/3-Lesh79.git
[submodule "3-MahaDeborah"]
	path = 3-MahaDeborah
	url = git@github.com:spbu-coding-2022/3-MahaDeborah.git
[submodule "3-Muzhinchin"]
	path = 3-Muzhinchin
	url = git@github.com:spbu-coding-2022/3-Muzhinchin.git
[submodule "3-Parzival-05"]
	path = 3-Parzival-05
	url = git@github.com:spbu-coding-2022/3-Parzival-05.git
[submodule "3-RozhkovAleksandr"]
	path = 3-RozhkovAleksandr
	url = git@github.com:spbu-coding-2022/3-RozhkovAleksandr.git
[submodule "3-SurfaceYellowDuck"]
	path = 3-SurfaceYellowDuck
	url = git@github.com:spbu-coding-2022/3-SurfaceYellowDuck.git
